body {
    margin: 5%;
    background-color: #f2f2f2;
    display: grid;
    grid-template-areas: "sidebar section section section";
    box-shadow: 15px 15px 15px #d6d6d6;
    column-gap: 20px;
    font-family: 'Times New Roman', serif;
}

#ProfileP {
    border: 5px solid red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#name {
    font-size: 40px;
    margin-top: 10px;
}

#dev {
    margin-top: -15px;
    font-size: 1.3em;
    color: #7e7e7e;
    margin-bottom: 40px;
}

nav {
    grid-area: sidebar;
    background-color: white;
    padding: 50px;
    text-align: center;
}

#pp {
    margin: 0 auto;
}

nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li, .btn {
    display: block;
    width: 300px;
    background-color: rgb(53, 53, 53);
    padding: 20px;
    border-radius: 20%;
    margin: 10px;
    margin: 20px auto;
}

nav a, .btn {
    color: white;
    text-decoration: none;
}

section {
    grid-area: section;
    margin:auto;
    margin-left: 60px;
    margin-top: 150px;
    text-align: center;
    margin-right: 60px;
}

#hi {
    text-transform: uppercase;
    font-size: 1.3em;
}

h1 {
    font-size: 3em;
}

h1 > span {
    color: crimson;
}

b, strong {
    color: rgb(149, 0, 30);
}

h1 ~ p {
    font-size: 25px;
}

nav a, .btn {
    font-size: 1.3em;
}

nav li:hover, .btn:hover {
    background-color: #7e7e7e;
    cursor: pointer;
}

.btn {
    padding: 10px;
    font-size: 1.4em;
}

button.btn {
    width: 50px;
    height: 50px;
    padding: 0px;
}

@media screen and (max-width:1200px){
    section {
        margin-top: 100px;
    }

    section > p {
        margin: 30px;
    }


    
}

@media screen and (max-width:1100px){
    nav li, .btn {
        display: block;
        width: 150px;
        background-color: rgb(53, 53, 53);
        padding: 20px;
        border-radius: 20%;
        margin: 10px;
        margin: 20px auto;
    }

    section {
        margin-top: 40px;
    }

    nav {
        padding: 30px;
    }

    .btn {
        padding: 15px;
    }
}

@media screen and (max-width:800px){
    

    section {
        margin-top: 60px ;
    }

    section > p {
        margin: 10px;
    }

    nav li{
        display: block;
        width: 150px;
        background-color: rgb(53, 53, 53);
        padding: 10px;
        border-radius: 20%;
        margin: 5px;
        margin: 20px auto;
    }


    h1 {
        font-size: 2.2em;
    }

    #name {
        font-size: 1.7em;
    }

    #name > p {
        font-size: 1em;
    }
}

@media screen and (max-width:700px) {
    body {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav li{
        width: 100px;
        margin: 10px;
    }

    /* nav li, .btn {
        display: block;
        width: 150px;
        background-color: rgb(53, 53, 53);
        padding: 20px;
        border-radius: 20%;
        margin: 10px;
        margin: 20px auto;
    } */

    section {
        margin-top: 40px;
    }

    nav {
        padding: 30px;
    }

    .btn {
        padding: 15px;
        display: block;
        width: 150px;
        background-color: rgb(53, 53, 53);
        padding: 10px;
        border-radius: 20%;
        margin: 5px;
        margin: 20px auto;
    }

    h1 ~ p {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.5em;
    }

    button.btn{
        margin: 20px auto;
    }


}